h3{
    color: rgb(90, 27, 104);
    font-family: Copperplate;
    font-weight: bold;
    font-size: 60px;
    
}

.registerflex{
    display: grid;
    grid-template-columns: 6fr 6fr;
    margin: 5%;
    
}
.reg{
    margin-left: 10%;
    border-radius: 5%;
    padding-left: 18%;
    background-color: rgba(167,158,228,0.9607492655265231);
    padding-top: 10px;
    padding-bottom: 10px;
}
.dl1{
    font-family: Copperplate;
    font-weight: bold;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Copperplate;
}
a:hover{
    text-decoration: none;
    color: rgba(167,158,228,0.9607492655265231);
    font-family: Copperplate;
}
